<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="{{ asset('js/init.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.4/isotope.pkgd.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ asset('css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">

    <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}">
    <link rel="icon" href="{{ asset('img/favicon.png') }}" >

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sly/1.6.1/sly.min.js"></script>

    <script src="{{ asset('js/jquery.scrollbar.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/jquery.scrollbar.css') }}" />

    <style>
        .alertmsg{
            padding: 10px;
            font-size: 20px;
            padding-left: 20px;
            position: absolute;
            right: 10px;
            top: 75px;
            z-index: 99;
        }

         .tabs .indicator {
             background-color: #FA9C1E !important;
         }

        .tabs .tab a:hover, .tabs .tab a.active {
            color: #FA9C1E !important;
        }

        .tabs .tab a {
            color: #FA9C1E !important;
        }


        .isDisabled {
            cursor: not-allowed;
            opacity: 0.5;
            pointer-events: none;
        }
    </style>
    {% block css %}

    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Polaris Series - Saison 1{% block title %}{% endblock %}</title>
</head>

<body>


{% for flashMessage in app.session.flashbag.get('success') %}
    <div  class="card-panel  green accent-4 white-text alertmsg"><i class="material-icons">done</i>{{ flashMessage }}</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('erreur') %}
    <div  class="card-panel  red darken-1 white-text alertmsg"><i class="material-icons">cancel</i>{{ flashMessage }}</div>
{% endfor %}

<nav class="nav-fixed custom-black darken-3">
    <div class="nav-wrapper">
        <a class="button-collapse" href="#" data-activates="slide-out" id="button-collapse"><img class="menu_logo" src="{{ asset('img/menu.png') }}" alt="Menu"></a>
        <!-- Horizontal Navbar links only shown on large resolutions -->
        <ul class="left hide-on-med-and-down">
            <li><a href="{{ path('index') }}">Accueil</a></li>
            <li><a href="{{ path('show_team') }}">Les équipes</a></li>
            <li><a href="{{ path('standing') }}">Classements</a></li>
            <li><a class="{% block disabled_matchs %}{% endblock %}" href="{{ path('show_renc') }}">Rencontres</a></li>
            <li><a class="{% block disabled_playoff %}{% endblock %}" href="{{ path('show_renc_playoff') }}">Playoff</a></li>
            <li><a class="isDisabled" href="{{ path('play_win') }}">Vainqueurs</a></li>
            {#<li><a href="{{ path('contact') }}">{{ 'layout.menu.principal.contact'  }}</a></li>#}
        </ul>

        <ul class="right hide-on-med-and-down">
            <li><a href="{{ path('twitch') }}"><img style="vertical-align:middle" alt="Live Twitch" src="{{ asset('img/twitch(1).png')}}"/></a></li>
            <li><a href="https://discord.gg/BwXr2s4" target="_blank"><img style="vertical-align:middle" alt="Discord" src="{{ asset('img/discord_couleur.png')}}"/></a></li>
            <li><a href="https://twitter.com/PSeriesOW" target="_blank"><img style="vertical-align:middle" alt="Twitter" src="{{ asset('img/twitter.png')}}"/></a></li>
        </ul>
        {#<ul class="right hide-on-med-and-down player_logo">#}
            {#<li><a href="https://team-series.eu/en"><strong>EN</strong></a></li>#}
            {#<li><a href="https://team-series.fr"><strong>FR</strong></a></li>#}
        {#</ul>#}
    </div>
</nav>

<!-- Sidebar navigation -->
<ul id="slide-out" class="side-nav" style="z-index: 99999;">
    <li><a href="{{ path('index') }}">Accueil</a></li>
    <li><a href="{{ path('show_team') }}">Les équipes</a></li>
    <li><a href="{{ path('standing') }}">Classements</a></li>
    <li><a class="{% block disabled_matchs_small %}{% endblock %}" href="{{ path('show_renc') }}">Rencontres</a></li>
    <li><a class="{% block disabled_playoff_small %}{% endblock %}" href="{{ path('show_renc_playoff') }}">Playoff</a></li>
    <li><a class="isDisabled" href="{{ path('play_win') }}">Vainqueurs</a></li>
    {#<li><a href="{{ path('contact') }}">{{ 'layout.menu.principal.contact'  }}</a></li>#}
    <li><a href="{{ path('twitch') }}"><img style="vertical-align:middle" alt="Live Twitch" src="{{ asset('img/twitch(1).png')}}"/> Twitch</a></li>
    <li><a href="https://discord.gg/BwXr2s4" target="_blank"><img style="vertical-align:middle" alt="Discord" src="{{ asset('img/discord_couleur.png')}}"/>Discord</a></li>
    <li><a href="https://twitter.com/PSeriesOW" target="_blank"><img style="vertical-align:middle" alt="Twitter" src="{{ asset('img/twitter.png')}}"/>Twitter</a></li>
</ul>




<main>
    <div class="spacer-menu"></div>
    {% block body %} {% endblock %}
</main>




<footer class="grey lighten-3">
    <div class="spacer-2"></div>
    <div class="container ">
        <div class="row">
            <div class="col m2 s12 offset-m3"><img class="footer_logo responsive-img" src="{{ asset('img/ste.png') }}" alt="Logo STE"> <div class="spacer-1"></div></div>
            <div class="col m2 s12 "><a href="http://eu.blizzard.com/"><img class="footer_logo responsive-img" src="{{ asset('img/blizzard.png') }}" alt="Logo Blizzard"> <div class="spacer-1"></div></a></div>
            <div class="col m2 s12"><a href="https://playoverwatch.com/"><img class="footer_logo responsive-img" src="{{ asset('img/overwatch.png') }}" alt="Logo Overwatch"></a></div>
        </div>
        <div class="spacer-2"></div>
        <div class="row">
            <div class="col m2 offset-m1 black-text center-align"><a href="{{ path('index') }}">Accueil</a></div>
            {#<div class="col m2 black-text center-align"><a href="{{ path('contact') }}">{{ 'layout.footer.liens.contact'  }}</a></div>#}
            <div class="col m3 black-text center-align"><a href="https://discord.gg/BwXr2s4" target="_blank">Discord</a></div>
            <div class="col m3 black-text center-align"><a href="https://twitter.com/PSeriesOW" target="_blank">Twitter</a></div>
            <div class="col m3 black-text center-align"><a href="{{ path('terms') }}">Mentions Légales</a></div>
        </div>
    </div>
    <div class="spacer-2"></div>
    <div class="container">
        <div class="center-align row text-footer">
            <div class="col m12">STE est une association française à but non lucratif.</div>
            <div class="col m12">Blizzard Entertainment est une marque déposée de Blizzard Entertainment, Inc. aux Etats-Unis et/ou autres pays.</div>
            <div class="col m12">Overwatch est une marque déposée de Blizzard Entertainment, Inc. aux Etats-Unis et/ou autres pays.</div>
        </div>
    </div>
    <div class="spacer-2"></div>
</footer>

{% block js %}

{% endblock %}
</body>
</html>
